<!-- Sidebar navigation -->
<div class="d-flex flex-column flex-shrink-0 text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        {{ app.sidebar_nav_option('Inicio', '/', 'mdi:view-dashboard') }}
        {% if current_user.can_edit('bitacoras') %} {{ app.sidebar_nav_option('Bitácoras', '/bitacoras', 'mdi:calendar-clock') }} {% endif %}
        {% if current_user.can_view('usuarios') %}{{ app.sidebar_nav_option('Usuarios', '/usuarios', 'mdi:account-key') }}{% endif %}
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{ current_user.email[:32] }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{ url_for('usuarios.profile') }}">Perfil</a></li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
        </ul>
    </div>
</div>
